config.js
node_modules
bundle.js
package-lock.json
vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.log
npm-debug.log
.vscode
.sass-cache
API-tests
AWS-nse
pockets.pem
deployment.md
credits.md
deployment.md
planning.md
planning-server.md
planning2.md