.event-item {
    border: 1px solid black;
    background-color: $grey-light;
    padding: 5px;
    margin: 5px;
}



#show-events {

}

.event-link {
    font-size: em(20px);
}
.events-add {
    margin: 0 auto;
    text-align: center;
}    