.event-item {
    border: 1px solid black;
    background-color: $grey-light;
    padding: 5px;
    margin: 5px;
}

#event-add {
    // background: url('/assets/pics/bg-add-01.jpg');
    // background-size: cover;
}

#show-events {

}

.event-link {
    font-size: em(20px);
}
.events-add {
    margin: 0 auto;
    text-align: center;
}    

@media only screen and (max-width: 605px) {
    .input-box {
        width: 100%;
    }
}

@media only screen and (min-width: 605px) {
    .input-box {
        width: 33%;
    }
 }
 @media only screen and (min-width: 1024px) {
    .input-box {
        width: 33%;
    }
 }
