
.home {
    background-color: $grey-light;
    padding: 0;
    min-height: 850px;
    #banner {
        width: 100%;
        height: em(250px);
        text-align: center;
        margin: 0 0 em(15px) 0;
        background-color: $grey-light;
        #banner-container {
            background-color: $blue-light;
            background: url('/assets/pics/bg-01.jpg');
            background-size: cover;
            height: em(200px);
            #search-container {
                display: inline-block;
                border: 1px solid $grey-dark;
                border-radius: em(3px);
                box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
                position: relative;
                top: 75%;
                height: em(100px);
                background-color: white;
                color: $red;
                width: 80%;
                vertical-align: text-bottom;
                #search-bar {
                    display: inline-block;
                    margin: 0 auto;
                    vertical-align: text-bottom;
                    position: relative;
                    top: 10%;
                    width: 60%;
                    p {
                        font-size: em(28px);
                    }
                    #search-input{
                     
                        input {
                            height: em(45px);
                            width: 80%;
                            padding-left: 10px;
                        }
                    }
                 
                }
            }
        }
    }

    .home-content {
        width: 80%;
        margin: 0 auto;
        background-color: $grey-light;
        #events-show {
            width: 60%;
            display: inline-block;
           
            .event-item {
                background-color: white;
                border: 1px solid $grey-dark;
                padding: em(10px);
                margin: 5px;
                a {
                    font-size: em(16px); 
                }
                .event-link {
                  font-size: 1.25em;
                }
                .logo img{
                    display: block;
                    margin: 0 auto;
                }
                
                .event-start, .event-end {
                    display: inline-block;
                    margin-right: em(5px);
                }
            }
            
        }
    }
    #user-welcome {
        background-color: #fff;
        vertical-align: top;
        float: right;
        width: 200px;
        border: 1px solid $grey-dark;
        margin-top: 15px;
        padding: 5px;
    }
}
#loader {
    width: 200px; 
    height: 200px;
    margin: 0 auto;
}
#spinner {
    width: 100%;
    height:100%;
}
.loading {
    text-align: center;
}
@keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .lds-spinner {
    position: relative;
  }
  .lds-spinner div {
    left: 94px;
    top: 48px;
    position: absolute;
    -webkit-animation: lds-spinner linear 1s infinite;
    animation: lds-spinner linear 1s infinite;
    background: #445e93;
    width: 12px;
    height: 24px;
    border-radius: 40%;
    -webkit-transform-origin: 6px 52px;
    transform-origin: 6px 52px;
  }
  .lds-spinner div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-animation-delay: -0.916666666666667s;
    animation-delay: -0.916666666666667s;
  }
  .lds-spinner div:nth-child(2) {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-animation-delay: -0.833333333333333s;
    animation-delay: -0.833333333333333s;
  }
  .lds-spinner div:nth-child(3) {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
    -webkit-animation-delay: -0.75s;
    animation-delay: -0.75s;
  }
  .lds-spinner div:nth-child(4) {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-animation-delay: -0.666666666666667s;
    animation-delay: -0.666666666666667s;
  }
  .lds-spinner div:nth-child(5) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    -webkit-animation-delay: -0.583333333333333s;
    animation-delay: -0.583333333333333s;
  }
  .lds-spinner div:nth-child(6) {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(7) {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation-delay: -0.416666666666667s;
    animation-delay: -0.416666666666667s;
  }
  .lds-spinner div:nth-child(8) {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg);
    -webkit-animation-delay: -0.333333333333333s;
    animation-delay: -0.333333333333333s;
  }
  .lds-spinner div:nth-child(9) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-animation-delay: -0.25s;
    animation-delay: -0.25s;
  }
  .lds-spinner div:nth-child(10) {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-animation-delay: -0.166666666666667s;
    animation-delay: -0.166666666666667s;
  }
  .lds-spinner div:nth-child(11) {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg);
    -webkit-animation-delay: -0.083333333333333s;
    animation-delay: -0.083333333333333s;
  }
  .lds-spinner div:nth-child(12) {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .lds-spinner {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }