
#room-add {
    margin: em(10px);
}
#room-show {
    @include test(red);

    width: 80%;
    min-height: 800px;
    margin: 0 auto;
    position: relative;
    top: -100%;
}
#room-contents {
    @include test(blue);
}

#room-info {
    @include test(green);
    .room-event-name {
        font-weight: bold;
    
    }
}

#threads-show, #thread-current, #event-info{
    border: 1px solid black;
    background-color: white;
    margin: em(5px);
}